* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  height: 100%;
}

#root {
  background-color: black;
}

.loader {
  color: white;
}

.xr-button {
  position: absolute;
  bottom: 20px;
  font-size: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: none;
  color: white;
  z-index: 1;
  border: 2px solid white;
  padding: 5px;
  font-family: "Open Sans", sans-serif;
}
